/* latin-ext */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url(/assets/fonts/KaushanScript_ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url(/assets/fonts/KaushanScript.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(/assets/fonts/Oswald.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Oswald';
    font-weight: 300;
    color: #666;
    background-color: #fff;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h4 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family:'Kaushan Script', cursive;
    font-weight: 700;
    letter-spacing: 1px;
}
.upper {
    text-transform: lowercase!important;
}
p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
    outline:none;
}

.btn:hover, .btn:focus {
    outline: none;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);

}

.navbar-brand {
    font-weight: 700;
}
.navbar-brand {
    height: 40px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 1em;
}

.navbar-brand h1{
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}

.navbar-brand:focus {
    outline: 0;
}


/* loader */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#load {
    background:#ffffff url(../images/bar-loader.gif) center center no-repeat;
    width: 60px;
    height: 10px;
    margin: -5px auto 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
}


/* misc */
hr {
    margin-top: 10px;
}

/* margins */
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
    padding-top: 110px;
    padding-bottom: 110px;
    display:block;
    position:relative;
}

.section-heading h2 {
    font-size: 40px;
}


/* --- section bg var --- */

/* --- section color var --- */

section{overflow:hidden;}

/* ===========================
--- Intro

#service .row{
margin-bottom: 30px;
}


============================ */

.intro {
    width:100%;
    position:relative;

    background: url(../images/bg1.jpg) no-repeat top center;
}

#intro.intro {
    padding:20% 0 0 0;
}

.intro .slogan {
    text-align: center;
    font-family:'Kaushan Script', cursive;
}

.intro .page-scroll {
    text-align: center;
}

.intro .slogan h2 {
    color: #FFF;
    text-shadow: none;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #000;
    border-style: none;
    text-shadow: -1px 0 1px #000;
    font-family:'Kaushan Script', cursive;
}

.intro .slogan h4 {
    color: #fff;
    text-shadow: -1px 1px 1px #000;
}


/* ===========================
--- Contact
============================ */
.eleven-social {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}

.eleven-social li{
    display: inline-block;
    margin:0 !important;
    padding:0;
}


.eleven-social a{
    margin:0;
    padding:0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.eleven-social a i{
    text-align: center;
    margin:0;
    padding:0;
}
.eleven-social .social-linkedin a{background: #006fa6;}
.eleven-social .social-twitter a{background: #62c6f8;}
.eleven-social .social-github a{background: #000;}
.eleven-social .social-linkedin a:hover{background: #4893ce;}
.eleven-social .social-twitter a:hover{background: #82e6ff;}
.eleven-social .social-github a:hover{background: #333;}



/* ===========================
--- Footer
============================ */

footer {
    text-align: center;
    padding: 20px 0 ;
    background-color: #193960;
}

footer p {
    color: #f8f8f8;
    font-family:'Kaushan Script', cursive;
    margin: 20px 0;
}

address {
    font-family:'Kaushan Script', cursive;
}

.service-desc p, phone {
    font-family: 'Oswald';
}

/* ===========================
--- Elements
============================ */

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.totop {
    padding: 2px 16px;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}


.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}


/* Media queries */

@media (min-width:768px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .intro {
        height: 100%;
        padding: 0;
    }
}
@media(max-width:608px) {

    .intro .slogan h4 {
        font-size: 15px;
    }
    .intro .slogan h2{
        font-size: 49px;
    }
}
@media (max-width:767px) {

    #intro.intro {
        padding: 12% 0 48% 0;
    }

    hr.marginbot-50 {
        border-top: none!important;
    }
}

@media (max-width:480px) {

    .intro h2 {
        font-size: 32px!important;
    }

    .intro .page-scroll {
        padding: 30px;
    }

    .navbar.navbar-custom.navbar-fixed-top {
        margin-bottom: 30px;
    }
    .page-scroll a.btn-circle {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        padding: 7px 0;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 20px;
    }
}

@media (min-width:481px) and (max-width:767px) {
    .upper {
        text-transform: uppercase;
    }

    footer {
        background-color: #193960;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/*! custom bootstraped */

/*!
* Bootstrap v3.1.0 (http://getbootstrap.com)
* Copyright 2011-2014 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
/*!
* Bootstrap v3.1.0 (http://getbootstrap.com)
* Copyright 2011-2014 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
footer,
nav,
section {
    display: block;
}
a {
    background: transparent;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
hr {
    height: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
@media print {
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="#"]:after {
        content: "";
    }
    p,
    h2 {
        orphans: 3;
        widows: 3;
    }
    h2 {
        page-break-after: avoid;
    }
    .navbar {
        display: none;
    }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
a {
    color: #428bca;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
h1,
h2,
h4 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1,
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h4 {
    font-size: 18px;
}
p {
    margin: 0 0 10px;
}
.text-center {
    text-align: center;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
}
address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.428571429;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-2, .col-sm-3, .col-lg-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) {
    .col-sm-3 {
        float: left;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
}
@media (min-width: 1200px) {
    .col-lg-2, .col-lg-8 {
        float: left;
    }
    .col-lg-8 {
        width: 66.66666666666666%;
    }
    .col-lg-2 {
        width: 16.666666666666664%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-lg-offset-2 {
        margin-left: 16.666666666666664%;
    }
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px) {
    .navbar-fixed-top {
        border-radius: 0;
    }
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-brand {
    float: left;
    height: 20px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
}
.container:before,
.container:after,
.row:before,
.row:after,
.navbar:before,
.navbar:after {
    display: table;
    content: " ";
}
.container:after,
.row:after,
.navbar:after {
    clear: both;
}
@-ms-viewport {
    width: device-width;
}
